li{
    list-style-type: none;


    a{
        text-decoration: none;
        font-family: 'Space Grotesk',
        sans-serif;
        font-size: 14px !important;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        padding-left: 0;
        color: rgba(108, 38, 212, 1) !important;

    }
}